<div>
	<h1>Rock,Paper,Scissors</h1>
</div>

<div>
	<h2><%= @result %></h2>
	<p><%= link_to 'Play Again', rps_url %></p>
	<table>
		<tr>
			<td><%= @player %></td>	
			<td><%= @computer %></td>
		</tr>
	</table>

</div>