body {
	font-family: 'Helvetica Nueue', Helvetica, Arial;
	font-size: 16px;
	width: 960px;
	margin-left: 20px;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	width: 1024px;
	margin-left: 20px;
	border-bottom: solid 5px #923337;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	width: 1024px;
	margin-left: 20px;
}

li{
	font-size: 18px;
	width: 960px;
	margin-left: 10px;
}

td {
	padding: 12px 0px;
	font-size:  20px;
	margin-left: 20px;
}

table {
	margin-top: 24px;
	margin-left: 20px;
	width: 80%;
}

th{
	padding-bottom:  12px;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	border-bottom: 4px solid #5484a7;
}

p{
	font-size: 20px;
	width: 960px;
	margin-left: 20px;
}

form{
	font-size: 40px;
	width: 940px;
	height: 46px;
}